/* General styles */
.featured-collections {
    text-align: center;
    padding: 2% 10%;
  }
  
  .products-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .topHeader{
    display: flex;
    justify-content: space-between;
  }
  
  .products {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  .product {
    flex: 0 0 auto;
    margin: 10px;
    width: 180px;
    padding: 10px;    
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .product h6 {
    font-size: 12px;
    font-weight: 200;
    color: rgb(22, 22, 22);
  }
  .product h4 {
    font-size: 13px;
    color: rgb(0, 121, 227);
  }
  .product h5 {
    font-size: 16px;
    font-weight: 100;
    color: rgb(22, 22, 22);
  }
  .product img {
    width: 100%;
    border-radius: 10px;
  }
  .customComponent{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

  }
  .customComponent i {
    background-color: red;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
  }
  
  
  
  .original-price {
    text-decoration: line-through;
    color: grey;
    font-size: 0.9em;
  }
  
  .nextButton {
    display: flex;
    justify-content: flex-end;
  }
  .scroll-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    font-weight:100;
    z-index: 1;
  }
  
  .scroll-button.left {
    left: 0;
  }
  
  .scroll-button.right {
    right: 0;
  }
  
  /* Hover effect */
  .product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .product {
      width: 150px;
    }
  }
  